.banner, .bannerApropos {
    position: relative;
    display: flex;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    width: 95%;
    margin: 43px auto;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/Background.png');
    height: 223px;
    padding: 20px;
}

.bannerApropos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/BackgroundAbout.png');
    height: 223px;
}

.banner p {
    position: absolute;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.banner br {
    display: none;
}

@media screen and (max-width: 650px) {
    .banner, .bannerApropos {
        width: 96%;
    }

    .banner {
        height: 111px;
        margin-top: 20px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/Background.png');
    }

    .bannerApropos {
        height: 10rem;
    }

    .banner p {
        font-size: 24px;
        white-space: normal;
    }

    .banner br {
        display: initial;
    }
}
