.banner {
    position: relative;
    display: flex;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/Background.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    padding: 20px;
    width: 95%;
    margin: 43px auto;
    mix-blend-mode: darken;
}

.bannerApropos {
    position: relative;
    display: flex;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/BackgroundAbout.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    width: 95%;
    margin: 43px auto;
}

.banner p {
    position: absolute;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner br {
    display: none;
}

@media screen and (max-width: 650px) {
    .banner {
        height: 111px;
        width: 81%;
        margin-top: 0;
        margin-bottom: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/Background.png');
    }

    .banner p {
        font-size: 24px;
    }
    .banner br {
        display: initial;
    }

    .bannerApropos {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/BackgroundAbout.png');
        width: 94%;
        height: 10rem;
        margin-top: 0;
    }
}
