.sectionAbout {
    text-align: center;
    margin: 50px 130px;
    padding-bottom: 19.7rem;
}
.bannerBackground_about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 650px) {
    .sectionAbout {
      margin: 50px 10px;
      width: 95%;
        padding-bottom: 13.7rem;
    }

    .collapseAbout {
        height: auto;
    }
}