.sectionAbout {
    text-align: center;
    margin: 50px 130px;
    font-weight: 400 !important;
    font-size: 24px !important;
    padding-bottom: 25.7rem;
}

.bannerBackground_about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 650px) {
    .sectionAbout {
      margin: 50px 10px;
      width: 95%;
      padding-bottom: 5rem;
    }

    .collapseAbout {
        height: auto;
    }
}