footer{
    margin-top: 209px;
}

.description_housing {
    margin: 50px 170px;
    display: flex;
    justify-content: space-between;
}

.housing_title {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
}

.housing_collapse {
    display: flex;
    gap: 5rem;
}

.housing_collapse p {
    font-size: 18px !important;
}

.housing_content {
    margin: 3rem 10rem;
}

.housing_location {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
}
