
.description_housing {
    margin: 0 65px;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.housing_title {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
}

.housing_collapse {
    display: flex;
    gap: 5rem;
}

.housing_collapse p {
    font-size: 18px !important;
}

.housing_content {
    flex: 1;
    margin: 2.5rem 4rem;
    padding-bottom: 10rem;
}

.housing_location {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
}

.housing_desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 650px) {
    .housing_collapse {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .description_housing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 20px;
        padding-top: 2rem;
    }

    .housing_location {
        font-size: 24px;
    }

    .housing_title {
        font-size: 12px;
    }

    .housing_collapse p {
        font-size: 12px !important;
    }

    .housing_content {
        margin: 1rem;
        padding-bottom: 0;
    }

    .housing_host {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
