.tag {
    background-color: #FF6060;
    list-style: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 29px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
    .tag {
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 5px;
    }

    .tags {
        justify-content: flex-start;
        margin-bottom: 20px;
        flex-wrap: nowrap;
    }

    .tags .tag {
        margin-right: 10px;
        margin-bottom: 5px;
    }
}