.sectionHome {
    display: flex;
    background-color: #F7F7F7;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 15px 0 15px;
    margin: 45px;
    border-radius: 25px;
}

footer {
    position: inherit !important;
}

@media screen and (max-width: 650px) {
    .sectionHome {
        padding: 20px 15px 0 15px;
        margin: 30px;
    }
}