.hostHousing {
    display: flex;
    align-items: center;
    padding-left: 6rem;
}

.identity p {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
}

.hostLastname {
    margin-left: 30px;
}

.hostName {
    margin-bottom: 0.5rem;
}

.Avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 1rem;
}

@media screen and (max-width: 650px) {
    .hostHousing {
        padding-left: 7em;
    }
}
