.hostHousing{
    display: flex;
    padding-left: 6rem;
}

.identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.identity p{
    flex-direction: column;
    color: #FF6060;
    font-size: 18px !important;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}
.Avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 1rem;
}

@media screen and (max-width: 650px) {
    .hostHousing {
        display: flex;
        position: relative;
        left: 70%;
        padding-left: inherit;
    }

    .Avatar {
        width: 40px;
        height: 40px;
    }

    .identity p {
        font-size: 12px !important;
    }
}