.hostHousing{
    display: flex;
    padding-left: 6rem;
}

.identity p{
    flex-direction: column;
    color: #FF6060;
    font-size: 18px !important;
    font-weight: 500;

}
.Avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 1rem;
}

@media screen and (max-width: 650px) {
    .hostHousing {
        display: flex;
        padding-left: 7rem;
    }
}