.collapse {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #F7F7F7;
    margin-bottom: 2rem;
}


.collapseTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    font-weight: 500;
    font-size: clamp(13px, 2vw, 24px);
    padding: 10px 15px;
    cursor: pointer;
}

.collapseTitle .arrow {
    transition: all 0.2s ease-in-out;
}

.collapseTitle .arrowDown {
    transform: rotate(0deg);
}

.collapseTitle .arrowUp {
    transform: rotate(180deg);
}

.collapseContent {
    letter-spacing: 1px;
    visibility: visible;
    opacity: 1;
    height: auto;
    margin-top: 27px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: clamp(12px, 2vw, 24px);
    color: #FF6060;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.2s ease-in-out;
}

.collapseContentHidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.aboutMainCollapse {
    margin: 31px auto;
    width: 85%;
}

.hebergementCollapse {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 30px auto;
    width: 85%;
}

.hebergementCollapseItem {
    width: 50%;
}