.carousel{
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.carousel_img{
    width: 1240px;
    height: 415px;
    border-radius: 10px;
    object-fit: cover;
}

.picture {
    position: absolute;
    opacity: 0;
    transition-duration: 0.3s;
    transform: scale(0.9);
}

.hide {
    display: none;
}

.picture.active {
    position: absolute;
    opacity: 1;
    transition-duration: 0.3s;
    transform: scale(1.1);
}

.back {
    position: relative;
    left: 650px;
    height: 80px;
    width: 50px;
    cursor: pointer;
    user-select: none;
}

.forward {
    position: relative;
    right: 650px;
    height: 80px;
    width: 50px;
    cursor: pointer;
    user-select: none;
}


.compteur , .compteur2 {
    margin: -2rem 50%;
    color: white;
    width: 3rem;
}
