.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 68px;
    width: 100%;
    margin-top: 20px;
}

.nav_logo img{
    height: 68px;
    width: 210px;
    left: 10px;
    top: 40px
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
}

.nav_links a {
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    padding: 0 20px;
}

.nav_links a:hover {
    text-decoration: underline; /* Soulignement au survol du lien */
}

.nav_links a.active {
    text-decoration: none; /* Enlève le soulignement du lien actif */
}


@media screen and (max-width: 650px) {
    .nav_logo img{
        height: 47px;
        width: 142px;
    }

    .nav_links {
        align-items: center;
        height: 47px;
    }

    .nav_links a {
        font-size: 12px;
        padding: 0 10px;
    }

    .navigation {
        height: 47px;
        justify-content: space-between;
        margin: 10px 14px;
        width: 95%;
        padding: 15px 0;
    }
}