footer {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 20px 0;
    bottom: 0;
}

footer img {
    height: 39px;
    width: 122px;
    margin: 20px 100px;
}

footer p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}

@media screen and (max-width: 650px) {
    .footer_contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer img {
        height: 24px;
        width: 74px;
        margin: 10px 50px;
    }

    footer p {
        font-size: 12px;
        width: 12rem;
    }

}
