footer{
    background: black;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer img{
    height: 39px;
    width: 122px;
    margin: 20px 100px;
}

footer p{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

@media screen and (max-width: 650px) {
    footer img{
        height: 24px;
        width: 74px;
        margin: 10px 50px;
    }

    footer p{
        font-size: 12px;
    }
}
