footer {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    min-height: 68px;
    margin-top: 127px;
}

footer img {
    height: 39px;
    width: 122px;
    margin: 20px 100px;
}

footer p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 20px -20px;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .footer_contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer img {
        height: 24px;
        width: 74px;
        margin: 10px 0;
    }

    footer p {
        font-size: 12px;
        width: 12rem;
        margin: 10px 0;
    }
}
